Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [76]:
# Lets install the Selenium Library 
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [1]:
#Lets import all required Libraries
import selenium
import pandas as pd
from selenium import webdriver

In [81]:
# now lets connect to the webdriver

driver = webdriver.Chrome(r"D:\chromedriver_win32\chromedriver.exe")

# now lets connect to the webdriver

driver = webdriver.Chrome("chromedriver.exe")

In [82]:
url = 'https://www.naukri.com/'
driver.get(url)

In [83]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [84]:
# lets enter types of jobs in search tab

search_job.send_keys('Data Analyst')

# we also can use xpath to search jobs

search_job = driver.find_elements_by_xpath('//input[@class="sugInp"]')
search_job

search_job.send_keys('Data Analyst')

In [85]:
# let search the job location

search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc

In [86]:
search_loc.send_keys('Bangalore')

In [87]:
# do click on search button

search_btn = driver.find_element_by_xpath('//button[@class ="btn"]')
search_btn

In [88]:
search_btn.click()

Now extract all the job titles

In [101]:
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title

[<selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="96a5ef6d-9ccd-4b82-bd4e-e425f5f0c021")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="6b91d277-1246-437d-be2b-0f4ba6a4927d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="f2c75ebe-07bc-4803-bd5c-af05e96917e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="6a66bdd2-6a81-407a-a7aa-fe460791b407")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="9808e752-1090-459d-b652-e6e57d6802a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="ce1a2321-4df0-4f55-87a9-cc8c3bcb5d61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="063e18b4-d486-4960-b226-35fb7b5ab1e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="c3ff470c-a4e9-4c05-ab82-77bdfb6a13b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="7a5858d3-11c3-4d92-bfd5-d5846b28031a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="bb58a19c-223a-4754-b213-33e324dfa102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="bd41c440-50f9-4d13-b4e2-a102718a47d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="9c2650a0-8dbc-4841-899f-b0c4697da6cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="a42b4698-9726-4940-be21-98f3439eb9c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="96d7bcdb-275e-43c2-a87e-ea99e24e2fba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="cedcec40-3e35-4b70-8c2f-121e7a788d6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="b7325a42-9b9d-49b5-892d-2200c0c8033e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="52f6b82d-a1cd-42f5-b89d-29d945f282a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="48de3a0d-7cc8-49a0-9d5e-5dd66f0940af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="84eef9d4-9861-4a2a-95ed-b7f63a8f9051")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="4b3c5224-ae17-4780-9192-a2e39d8a1389")>]

In [102]:
# now extract all the data from the above list 

job_title = []

for i in title:
    job_title.append(i.text)
    
job_title

['Business Data Analyst - Google Data Studio & SQL',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - I/II',
 'Data Analyst',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Business Data Analyst - MIS & Reporting',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Associate, Data Hierarchy Analyst( MDM)',
 'Lead , Data Analyst',
 'Product Data Analyst',
 'Data Analyst/Sr.Analyst - Bangalore',
 'SENIOR MARKETING DATA ANALYST',
 'Data Analyst - Quantitative Support Team',
 'MIS / Data Analyst',
 'Data Analyst with SAS & Python',
 'Data Analyst',
 'Data Analyst']

In [103]:
len(job_title)

20

In [104]:
company = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
company

[<selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="019dbafd-94b7-43fb-9f36-6961513de233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="68b4adfe-3cd0-4602-835e-d0c9b1059b01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="24ef4d5f-3aeb-491c-9e52-5a755a02c7c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="f5094b27-f576-45bf-82a3-1ed654a7da22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="05b4b456-2c26-492a-891a-32e4f2b358a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="1af1861d-6cf8-47ca-9c07-8cfb8c982852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="a9a991e2-7919-499d-b2f3-5034a7677cbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="ecf60e74-de75-425f-923e-df15e4cb01ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="d44e6ede-04f9-4442-912a-aa89c325b550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="975f99e8-a1c9-4c52-b9f7-69c847dfc6f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="9fe47be0-5972-4faf-aaf0-63b4785c1f88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="4e0480ed-b8f3-4464-8840-e79908eb9634")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="eaaaf0c0-8f27-4864-ab6e-0f9a9da25a51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="e9c21952-4dc5-4281-be6a-a238edde6698")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="f81163a5-3f7e-4cb5-ac35-a9bcf1632724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="f8237611-458c-45f9-990f-3bfc926c95d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="c60d47de-927a-4e00-aad1-f6892a3a69d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="e9348cec-cd66-47a8-b4c2-ca76dff31e54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="c457bbe3-a1a1-4dc0-9fd3-6c26d94b2bd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="91d036df-80fd-4ec1-af18-e362f8f42ec9")>]

In [105]:
company_name = []

for i in company:
    company_name.append(i.text)

company_name

['AVE-Promagne',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'INTERTRUST GROUP',
 'Flipkart',
 'Flipkart',
 'GENPACT India Private Limited',
 'Near Pte. Ltd.',
 'Trifacta',
 'Cocentrus',
 'McAfee Software (India) Pvt. Ltd',
 'TresVista Financial',
 'MediBuddy',
 'Podium Systems',
 'Coda Payments',
 'FedEx Express']

In [106]:
len(company_name)

20

In [110]:
location = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]//span[1]')
location

[<selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="5ea88805-8ec1-4303-9af7-982190a0df40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="11ff6f0a-b59b-46f5-9d07-5b4546699eaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="9721b682-6a64-4d63-aeed-55aab490d99e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="57bf828f-16c2-4f06-a4d7-ec2fd7a16028")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="2f69da03-89cb-4846-9f17-94c57a793b2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="685e20ca-26fb-4ac8-9fa6-84280368588c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="ba2a8a6d-b3ea-4541-947b-ca0637e97b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="4084bb7a-d5a6-4705-a38f-bb12efd385ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="15990216-959c-4648-bd0b-3d4683c07d49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="0eb44b10-d11e-442c-a853-128ba6b1e468")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="8e1588b7-6dc7-49e6-8fd9-483460f7a311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="ed67d88b-9a1e-41df-8e66-47f1d02cf565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="83f02d37-fcde-4deb-bd68-cb82acbae711")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="f11ddc5e-5223-4c09-9594-df11c06ce468")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="ed5166b4-0279-41d7-9b49-d6145d511c1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="740918e7-36e1-4c18-8134-a1325e959f96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="9c0121d3-2681-4547-b20b-1de6800d142c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="364343f7-b5d4-4f3d-886c-eef80f65cf99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="569d0620-c558-43b2-8987-60cf559e488b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="846d62b3-bea0-49b2-82ac-b83035ff3d5a")>]

In [111]:
Job_Location =[]

for i in location:
    Job_Location.append(i.text)
    
Job_Location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru(Bellandur)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)']

In [112]:
len(Job_Location)

20

In [113]:
experience = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]/span')
experience

[<selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="4a61b78e-adf1-4d6a-8b90-1dca04fbb2cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="7e80c152-1b3c-4913-9dbe-678b6780abf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="90424aeb-9916-4656-afe1-56b7eccedb90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="341f2ef4-621e-443d-81a3-c86ab75a5a31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="3fc6198b-ba02-430c-a1dc-7384003bf94b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="a5969e4c-7770-4f64-84fd-32c914b72a56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="851bc012-f250-44dc-968a-c92eab3b0c5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="9b7b2994-5ac0-4d91-aa1e-ade03d7ce8ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="9ab213cd-32ef-48eb-bb4d-7ab9c91ec662")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="2db97a2c-e52e-4d80-ac4e-2d44f743be2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="a0d1d0aa-0a07-46ee-9e62-1f2337ce4007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="67cbf87b-6d58-42ae-b529-d1f0e963fd5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="62b071ac-1bac-4aa6-8bdd-05bfbdc7ae25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="5698254c-1356-477e-b865-6f88c4589ffd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="120b11ba-60d6-4b1c-9d9b-b7a941803ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="76dc4dbe-e6cd-48d6-aacd-0fb73974ae33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="93fbf285-02f6-4671-b2d8-b0c4402660aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="b342abc1-a390-4b61-ab46-1c10f3e90e5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="36420d53-fcb7-4111-971c-bde9d4b5b3e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6dd5b57e75356e96264b38e05172f25", element="332bbaf2-7d2c-4c00-b874-fd667d594a9b")>]

In [114]:
Experience = []

for i in experience:
    Experience.append(i.text)
    
Experience

['3-8 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '6-11 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '0-1 Yrs',
 '1-3 Yrs',
 '4-7 Yrs',
 '3-4 Yrs',
 '2-6 Yrs']

In [115]:
len(Experience)

20

In [116]:
Data_Analyst_jobs = pd.DataFrame({})

Data_Analyst_jobs['Job_Title'] = job_title[:10]
Data_Analyst_jobs['Company'] = company_name[:10]
Data_Analyst_jobs['Job_Location'] = Job_Location[:10]
Data_Analyst_jobs['Eperience_Require']=Experience[:10]

Data_Analyst_jobs

,Job_Title,Company,Job_Location,Eperience_Require
0,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,Bangalore/Bengaluru,3-8 Yrs
1,Executive Data Analyst,Gokaldas Exports Ltd,Bangalore/Bengaluru,0-3 Yrs
2,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",8-12 Yrs
3,Data Analyst - I/II,Philips India Limited,Bangalore/Bengaluru,3-6 Yrs
4,Data Analyst,IBM India Pvt. Limited,Bengaluru/Bangalore,1-4 Yrs
5,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru(Bellandur),1-6 Yrs
6,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru(Bellandur),1-6 Yrs
7,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-8 Yrs
8,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,2-3 Yrs
9,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [147]:

url = 'https://www.naukri.com/'

In [148]:
driver = webdriver.Chrome('chromedriver.exe')

In [149]:
driver.get(url)

In [150]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')

In [151]:
search_loc = driver.find_element_by_id('qsb-location-sugg')

In [152]:
search_btn = driver.find_element_by_xpath('//button[@class ="btn"]')

In [153]:
search_job.send_keys('Data Scientist')
search_loc.send_keys('Bangalore')
search_btn.click()

In [154]:
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
location = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]/span')

In [156]:
job_title = []

for i in title:
    job_title.append(i.text)
    
job_title

['Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist: Advanced Analytics',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - ML',
 'Data Scientist',
 'Data Scientist',
 'Cognitive Data Scientist',
 'Data Scientist + Python + Big DATA',
 'Senior Data Scientist, Payments compliance',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [157]:
Company = []

for i in company:
    Company.append(i.text)
    
Company

['IBM India Pvt. Limited',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'AVE-Promagne',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Shikvix',
 'VRIZE',
 'ELPIS IT SOLUTIONS PVT LTD',
 'ELPIS IT SOLUTIONS PVT LTD',
 'SP Staffing Services Private Limited',
 'Oracle India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Capgemini Technology Services India Limited',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 'Kwalee India Pvt Ltd.',
 'ANT work',
 'Philips India Limited']

In [158]:
job_location =[]
for i in location:
    job_location.append(i.text)
    
job_location

['Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [159]:
job_detail_url = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [160]:
job_url = []

for i in job_detail_url:
    job_url.append(i.get_attribute('href'))
    
job_url

['https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16310563975426018&xp=1&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16310563975426018&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16310563975426018&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16310563975426018&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16310563975426018&xp=5&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16310563975426018&xp=6&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16310563975426018&xp=7&px=1',
 'https://www.naukri.com/job-listings-freelance-data-scientist-project-based-shikvix-bangalore-bengaluru-3-to-8-years-060921008814?src=jobsearchDesk&sid=16310563975426018&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-vrize-bangalore-bengaluru-2-to-5-years-070921001651?src=jobsearchDesk&sid=16310563975426018&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921602158?src=jobsearchDesk&sid=16310563975426018&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921002157?src=jobsearchDesk&sid=16310563975426018&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ml-sp-staffing-services-private-limited-pune-chennai-bangalore-bengaluru-10-to-15-years-100621006203?src=jobsearchDesk&sid=16310563975426018&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16310563975426018&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-2-to-4-years-010921906678?src=jobsearchDesk&sid=16310563975426018&xp=14&px=1',
 'https://www.naukri.com/job-listings-cognitive-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-030921904668?src=jobsearchDesk&sid=16310563975426018&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-big-data-capgemini-technology-services-india-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030921008208?src=jobsearchDesk&sid=16310563975426018&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-payments-compliance-airbnb-global-capability-center-private-limited-bangalore-bengaluru-4-to-9-years-020921903258?src=jobsearchDesk&sid=16310563975426018&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kwalee-india-pvt-ltd-bangalore-bengaluru-5-to-10-years-260321000780?src=jobsearchDesk&sid=16310563975426018&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ant-work-bangalore-bengaluru-9-to-14-years-020921501606?src=jobsearchDesk&sid=16310563975426018&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bangalore-bengaluru-8-to-10-years-250821500891?src=jobsearchDesk&sid=16310563975426018&xp=20&px=1']

In [170]:
import time
job_description = []

for i in job_url:
    driver.get(i)
    time.sleep(5)
    try:
        description = driver.find_element_by_xpath('//section[@class="job-desc"]')
        job_description.append(description.text)
    except:
        job_description.append('----')
        
job_description

['----',
 'Job description\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science\nRoleClinical Research Associate/Scientist\nIndustry TypeMedical Services / Hospital\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 '----',
 'Job description\n  Skills\nRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLP\nDesired Skills: Computer Vision\nRoles and responsibilities\nExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statistics\nHave ability to solve Business problems using Data\nShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasets\nHigh level of proficiency in statistical tools like R, Python\nCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.\nHave the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problems\nGood to Have\nExpertise in programming languages like Java/C/C /Python\nExperience with relational databases and SQL is good to have\nExperience in audio and video analytics\nRelevant experience in Big Data platforms like Hadoop eco-system\nCome up with innovative algorithms and solutions\nStaffing Type:Permanent\nRoleClinical Research Associate/Scientist\nIndustry TypeIT Services & Consulting\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',
 'Job description\nRequired Technical and Professional Expertise\n• 6+ years of industry work experience in data scientist projects\n• Master’s degree or higher in Statistics/Math/Computer Science or related field\n• Background in applied statistical modeling on large experimental or observational data sets\n• Experience extracting data from a variety of sources, and a desire to expand those skills (working knowledge SQL is required, Spark is a plus)\n• Experience with one or more statistical or machine learning software such as R, Python, etc.\n• Must showcase past work through published articles/GitHub/social media\n\nPreferred Technical and Professional Expertise\n• Knowledge of distributed computing systems, e.g. Cosmos, Spark, Hadoop, and relational database management system\n• PhD. in Statistics is preferred\n• You love collaborative environments that use agile methodologies to encourage creative design thinking and find innovative ways to develop with cutting edge technologies\n• Ambitious individual who can work under their own direction towards agreed targets/goals and with creative approach to work\n• Intuitive individual with an ability to manage change and proven time management\n• Proven interpersonal skills while contributing to team effort by accomplishing related results as needed\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Maths, Statistics\nPG :MS/M.Sc(Science) in Maths, Statistics\nDoctorate :Doctorate Not Required\nKey Skills\nRData scienceData analyticsSQLPython',
 '----',
 '----',
 "Job description\n\nJob description:\n\nSeeking senior data scientists for project-based roles that involve working on various projects.\n\nThe candidate must have experience in Python coding language and machine learning. The candidate will be working on a part-time basis and hours will be flexible based on the candidate's availability.\nOpportunity to grow in a startup setting.\nWhat you'll need:\nB.Tech in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.\nM.Tech or Ph.D. in CS or Statistics with demonstrable experience of over 3 years through publications/deployed solutions/projects.\nA deep understanding of applied statistical analysis and predictive modeling is desired.\nThe candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis, etc.\nIt is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary\n\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypePart Time, Freelance/Homebased\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nKey Skills\nPredictive ModelingRAlgorithmsSVMClusteringMachine LearningStatistical AnalysisStatisticsDeep LearningPython",
 'Job description\nProfile Overview\nWe are looking for a Data Scientist who can help us drive value for our clients through in a data driven approach. They will work with the Data Science team to identify and structure relevant value-adding problems for clients to solve, using various data. They will conceptualize and own the design of the solutions, work with analysts to extract, process, and prepare data on a planned as well ad hoc basis. They will leverage appropriate machine learning techniques and liaise and engage with the clients during the progress of the solution to communicate results, and ensure buy-in and closure. They will also work with Machine Learning Engineers to help deploy solutions within the appropriate technology framework, and also possibly help maintain them within a DevOps setting.\n\nSkills & Qualifications\nIdeal candidate should have a problem solving bent of mind, and had have worked in the Data Science field for 3 or more years\nCandidate should have had worked on real-life Natural Language Processing and / or Computer Vision problems; real-life experience in Regression & Classification problems and / or unsupervised learning problems would be considered a bonus\nCandidate should be proficient in R and / or Python and / or SQL\nCandidate should have a basic understanding of technologies needed for deployment of machine learning solutions, such as cloud infrastructure components (AWS, Microsoft Azure, GCP), containerization (Docker, Kubernetes), API development (using frameworks such as Flask, Plumber, Django, Celery etc.), code versioning tools (GitHub, GitLab, CodeCommit etc.)\nExperience with business tools such as Tableau, and web tools such as cloud databases (Redshift, DynamoDB etc.) would be considered a bonus\nCandidate should have excellent communication, comprehension, and critical thinking skills; collaborative nature would be considered a bonus\nCandidate should have a deep and nuanced understanding of statistics, mathematics, computer science, and be able to sift through technical material (such as papers, open-source code repositories) to continuously improve on solutions and stay on top of the cutting-edge developments in the field\n\n\nRoleTechnical Architect\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nKey Skills\nNatural Language ProcessingProblem SolvingRegressionUnsupervised LearningMachine LearningStatisticsData ScienceSupervised LearningRAlgorithmsClassificationModelComputer VisionPython',
 'Job description\nRoles and Responsibilities\nJob Description:\nDevelop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights.\nLooking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.\n\nJob Skills Required:\nExpert data science skills using supervised and unsupervised learning. Deep learning.\nCompute: Spark/Storm/NiFi/Flink/Redis, or other.\nVisualization: Banana UI, Kibana, or other,\nTools: H2O, TensorFlow, Mlib, Scikit, Keras or other.\nMessaging: Kafka, RabbitMQ, or other.\n\nStrong Analytical and Math/Statistics skills.\n\nQualification :\nM.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.\n\nDesired Candidate Profile\nDesirable s that would strengthen candidacy:\n Proven track record from public competitions such as from Kagel, Analytics Vidya, etc. \n\nExpertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.\n\nExpertise in developing scalable applications in a distributed environment.\n\nStrong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.\n\nExpertise in containerized environments on private or public clouds - Aws Azure, etc.\n\n\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Temporary/Contractual\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\ndeep learningKibanatensorflowdata scienceKafkakerasSparkMachine Learning',
 'Job description\nRoles and Responsibilities\nJob Description:\nDevelop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights.\nLooking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.\n\nJob Skills Required:\nExpert data science skills using supervised and unsupervised learning. Deep learning.\nCompute: Spark/Storm/NiFi/Flink/Redis, or other.\nVisualization: Banana UI, Kibana, or other,\nTools: H2O, TensorFlow, Mlib, Scikit, Keras or other.\nMessaging: Kafka, RabbitMQ, or other.\n\nStrong Analytical and Math/Statistics skills.\n\nQualification :\nM.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.\n\nDesired Candidate Profile\nDesirable s that would strengthen candidacy:\n Proven track record from public competitions such as from Kagel, Analytics Vidya, etc. \n\nExpertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.\n\nExpertise in developing scalable applications in a distributed environment.\n\nStrong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.\n\nExpertise in containerized environments on private or public clouds - Aws Azure, etc.\n\n\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Temporary/Contractual\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\ndeep learningKibanatensorflowdata scienceKafkakerasSparkMachine Learning',
 'Job description\nDear Candidate,\n\nWarm greetings from SP Staffing Services.\n\nWe are hiring Data Science / ML Resources for our Client.\n\nRole: Sr. Data Scientist - Machine Learning\nExp: 10 to 15 yrs\nLocation: Pune, Bangalore, Chennai\n\nRequisite:\n\nIdeal Resource should have 10+ years of experience in Data Science Machine Learning.\n\nResponsibilities:\n\nDesign and Develop ML / NLP models for the project requirement\nDeliver ownership to setup ML / NLP models with respect to tools, data and infrastructure as required\nWork closely with Product Owner and Product architect right from ML based solution conceptualization till implementation in response to a client requirement\nThought leadership on building ML/NLP based solution based on client requirements\nLead the ML / NLP dialogue during the customer visits and other partner events\n\nRequired Skills:\n\nStrong knowledge of Machine Learning / NLP algorithms Information extraction, named entity recognition, text clustering, Knowledge Graph, text summarization, intent classification, word embeddings, vector space models\nStrong experience in NLP using Python\nExperience in developing Microservices and web services\nUnderstanding of data and data analysis, manage Large Data Sets\nSound exposure on Pandas, Scikit and Numpy\nMin 4+ years of experience implementing and deploying machine learning and deep learning frameworks (Spark, TensorFlow, Keras, Caffe, etc.)\nApplication programming in cloud platforms including Azure, IBM, AWS and GCP\nHands on experience Data Science / Big Data technology and architecture\n\n\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Computers\nKey Skills\nMachine LearningData SciencePython\nTensorflowDeep LearningNumpyMicroservicesNLPGCPPandasInformation ExtractionData AnalysisKerasCaffeScikit\nSkills highlighted with ‘‘ are preferred keyskills',
 '----',
 '----',
 '----',
 '----',
 'Job description\nThe Challenge\nBe a thought leader, partner with your cross-functional partners to foster a data driven payments organization.\nWith a focus on Payments compliance and keeping our platform safe, anticipate and detect new fraud trends and regulatory requirements.\nDefine and evaluate key metrics. Build the data foundation you need, in partnership with the data engineering team.\nDeliver actionable user-insights to build the best products and models\nDesign experiments to measure the impact of new payments features\nEmpower the product and engineering teams to make data-driven decisions\nWhat you need to succeed\n4+ years industry experience in a quantitative analysis role. Experience in Payments a strong plus\nFluent in SQL and proficiency in analytical tools such as Python, R, etc.\nBackground in statistics and experience with experimentation\nSolid understanding of product analytics\nExperience or willingness to learn tools to create data pipelines using Airflow/Minerva\nAbility to communicate clearly and effectively to cross functional partners of varying technical levels\nRoleData Analyst\nIndustry TypeTravel & Tourism\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nQuantitative AnalysisRData EngineeringData ScientistStatisticsAnalyticsPythonSQL',

In [171]:
len(job_description)

20

In [172]:
Data_scientist_jobs = pd.DataFrame({})

Data_scientist_jobs['Job Title'] = job_title[:10]
Data_scientist_jobs['Company'] = Company[:10]
Data_scientist_jobs['job Location'] = job_location[:10]
Data_scientist_jobs['job Description'] = job_description[:10]

Data_scientist_jobs

,Job Title,Company,job Location,job Description
0,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,----
1,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description\nUse predictive modeling to in...
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,----
3,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,Bangalore/Bengaluru,Job description\n Skills\nRequired Skills: Da...
4,Data Scientist (Python & SQL),AVE-Promagne,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Job description\nRequired Technical and Profes...
5,Sr Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,----
6,Sr Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,----
7,Freelance Data Scientist Project Based,Shikvix,Remote,Job description\n\nJob description:\n\nSeeking...
8,Data Scientist,VRIZE,Bangalore/Bengaluru,Job description\nProfile Overview\nWe are look...
9,Data Scientist,ELPIS IT SOLUTIONS PVT LTD,(WFH during Covid),Job description\nRoles and Responsibilities\nJ...

# Question-3

Q3: In this question you have to scrape data using the filters available on the 
webpage.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver

In [2]:
driver = webdriver.Chrome('chromedriver.exe')
driver

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
job_search = driver.find_element_by_id('qsb-keyword-sugg')

In [5]:
search_btn = driver.find_element_by_xpath('//button[@class ="btn"]')

In [6]:
job_search.send_keys('Data Scientist')
search_btn.click()

In [7]:
filter_btn1 = driver.find_element_by_xpath('//span[@title ="Delhi / NCR"]')
filter_btn1

In [8]:
filter_btn1.click()

In [9]:
filter_btn2 = driver.find_element_by_xpath('//span[@title ="3-6 Lakhs"]')
filter_btn2

In [10]:
filter_btn2.click()

In [11]:
title = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
location = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]/span[1]')
experience=driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]/span[1]')
company = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')

In [12]:
Title = []
Location=[]
Company =[]
Experience=[]

for i in title:
    Title.append(i.text)

for i in location:
    Location.append(i.text)
    
for i in company:
    Company.append(i.text)
    
for i in experience:
    Experience.append(i.text)

In [13]:
Title

['Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Data Scientist - Insurance',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst',
 'Data Scientist-immediate Joiners',
 'Data Scientist',
 'Data Scientist - WFH - MIND Infotech',
 'Junior Data Scientists & Engineers',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist',
 'Data Scientist - Machine Learning/ NLP',
 'Data Analyst/Data Scientist',
 'Data Scientist Internship',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist']

In [14]:
len(Title)

20

In [15]:
Company

['GABA Consultancy services',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'Huquo Consulting Pvt. Ltd',
 'Creative Hands HR Consultancy',
 'CARS24',
 'Quikruit Consulting LLP',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'PY Consultancy',
 'IDESLABS PRIVATE LIMITED',
 'Kusum Healthcare Pvt. Ltd.',
 'TalPro',
 'Skillenable Fintech Private Limited',
 'iHackers Inc',
 'Right Step Consulting',
 'Fractal Analytics',
 'Agreeya',
 'inVentiv International Pharma Services Pvt. Ltd.']

In [16]:
len(Company)

20

In [17]:
Location

['Ghaziabad, Faridabad, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida',
 'Noida, Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Pune, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Delhi / NCR(Okhla)',
 'Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi',
 'Noida',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [18]:
len(Location)

20

In [19]:
Experience

['0-0 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '3-7 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '0-1 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '3-6 Yrs']

In [20]:
len(Experience)

20

In [21]:
Jobs_Delhi_NCR = pd.DataFrame({})

Jobs_Delhi_NCR['Title'] = Title[:10]
Jobs_Delhi_NCR['Company'] = Company[:10]
Jobs_Delhi_NCR['Location'] = Location[:10]
Jobs_Delhi_NCR['Experience'] = Experience[:10]

Jobs_Delhi_NCR

,Title,Company,Location,Experience
0,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Ghaziabad, Faridabad, Delhi / NCR",0-0 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
2,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
3,Data Scientist,R Systems International Ltd.,Noida,3-6 Yrs
4,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,"Noida, Gurgaon/Gurugram",2-7 Yrs
5,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga...",0-0 Yrs
6,Data Scientist / Data Analyst,CARS24,Gurgaon/Gurugram,1-5 Yrs
7,Data Scientist-immediate Joiners,Quikruit Consulting LLP,Noida,2-5 Yrs
8,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,Gurgaon/Gurugram,1-3 Yrs
9,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",3-7 Yrs

# Ques.4

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.

In [23]:
import pandas as pd
import selenium
from selenium import webdriver
import time

In [24]:
driver = webdriver.Chrome('chromedriver.exe')

url = 'https://www.glassdoor.co.in/index.htm'

In [25]:
driver.get(url)

In [27]:
search_job = driver.find_element_by_id('sc.keyword')

In [28]:
search_job.send_keys('Data Scientist')

In [29]:
search_loc = driver.find_element_by_id('sc.location')
search_loc.send_keys('Noida')

In [30]:
search_btn = driver.find_element_by_xpath('//span[@class = "css-8zxfjs"]')
search_btn.click()

In [31]:
Company = []
Post_date = []


company = driver.find_elements_by_xpath('//a[@class = " job-search-key-l2wjgv e1n63ojh0 jobLink"]')
for i in company:
    Company.append(i.text)
    
post = driver.find_elements_by_xpath('//div[@class = "d-flex align-items-end pl-std css-17n8uzw"]')
for j in post:
    Post_date.append(j.text)

In [32]:
Company

['Applied Materials Inc.',
 'Indeed',
 'Patient Bond India Private Limited',
 'Lenskart',
 'Elpis IT Solutions',
 'Argoid',
 'Top Mentor',
 'Reach52, Inc.',
 'Airtel India',
 'IBM',
 'limeroad.com',
 'NielsenIQ',
 'AlgoScale Technologies Private Limited',
 'HDFC Bank',
 'Maersk',
 'GE Aviation',
 'HP',
 'Mercedes-Benz Research and Development India Private Limited',
 'Zinier',
 'Liberin Technologies Private Limited',
 'Myian pharma',
 'GLOBAL TECHNOLOGIES',
 'NEC Opportunities',
 'ING',
 'Crypto Mize',
 'Excelledia Ventures',
 'Oracle',
 'Yara',
 'Research Infinite Solutions LLP',
 'Ambee']

In [33]:
len(Company)

30

In [34]:
len(Post_date)

30

In [35]:
url = []

for i in company:
    url.append(i.get_attribute('href'))
    
url

['https://www.glassdoor.co.in/partner/jobListing.htm?pos=101&ao=1110586&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_560b4695&cb=1631536263086&jobListingId=1007003729341&cpc=334ABAF5D42DC775&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-a2715fea88b64e31&jvt=aHR0cHM6Ly9pbi5pbmRlZWQuY29tL3JjL2dkL3BuZz9hPTJHbkRpY0hCWFdVMTFuQ3dKRDZlWUh3RlZEYUJyUWlpeldIM2VBR1ZHTUc0ZTJrcTROYk53WjhyVEJUVGoyclE4ZGhwd2tWbmR2ZE5sV3ZLT2pRTHFIZU5KTHpPLUhLeEFRSERmeE5CdHNRN29DdDF0TFZWMThkZFFTOWlqSE4zTFFzRXlKLXF4bkRnS1lKV0tsSFJJMkg1bG9UTDFCWnNmRnA5SGY3REdnejJpNkFua0hxbTVHMXhRcnVzWkFnWFpmNnJNdk1aaHZDYm00YU92RzktS2dqWEt0ODVqWV8yTlJyQVVCMHpYTVlsRFhQQWhvOEFjRl9oQUZkU2hmeXhfcTZTazBfMzJGMUlyalRKX1U2WVZDbHYyZkdGRlRmRl80d0UyU1hSYnZhek1QU0xkdjFJSGVnSU1HY1VjclJ4cG9KNkRKaDdWVGZlbHdzb3d6Y2wzXzhXX2ZFdWNyQmJmXzVsMWx2SjRtNzhJTjJHSThUM2I1LTlLYnFzZ2h6YUFTa3ZIel9GeUhGaTc4S2dhY0hWci1YZGp0RVNFZEhRaC1JbE9CakJuNlVneE8tYzZwdEJQRzMycnZiMXloaDRETjUyNUNSZWRJNHlfMVFuN24xMDQ1NG9UemtLWmpmRmNXM0QwcGVQeGFpSnlhMXdDMHVJcWlrZlFtY2ZfWkpWNU1xWnVZTGZsdFV5Rm1kbUdpYVNOcGk5Z21IcExEcnFDOTJWUms4Z3Q5a2ZoSnhyMFZwNEJUWldMVVFVTlE2T0VXMno4bWRhZHpsQXY2SlRMb25MaDRWd2pRYldCaFBZWloxbmRJc3U3T0M4bzV4UVpwU2xXR2ljQlYyYlVMcjVuR1pheU9BRXNwdVQwSUxUVjRIY1FzM2tHSk9HdnRXSEpWcjRCQ01zVHpfanpvTkNJeFBmcWhLRzlkLTN5bUZKLWJ5NHk5aEdFM1l1bS1yTXNISXFnamJKbzlIbEUwWGFLMmxUQVNpWVY5TWRtcFlFaXF5ZWF3Tzd3RWtOdkhfcQ',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=102&ao=1110586&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_41ce2208&cb=1631536263087&jobListingId=1006872897491&cpc=3BA4CE39D5B5DEF5&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-a0c97e0ab4263b02&jvt=aHR0cHM6Ly9pbi5pbmRlZWQuY29tL3JjL2dkL3BuZz9hPWNmSVhKRGdFZlRBMTFuQ3dKRDZlWUh3RlZEYUJyUWlpeldIM2VBR1ZHTUVad29ERFZnWWVRRTQyRFA3QWMyYW1vQlYxN05GRUVPSk5sV3ZLT2pRTHFIZU5KTHpPLUhLeEFRSERmeE5CdHNRMmpsSzVmelFfeWFrY0N6SFloay0xTmZodU55aTgxRzRJcUlmY0VHTXg1LVRGSE5fbmRJTjB4V21WRDlyRFRaS2JEbVBpdGhoWkFoRkZCc0YxeHVKZ3IzUTQwV29UcGxHMWlSZmlIWUZkMmhVSGRFNUdlSldnZFE4REZ2Nm9WTkIxZk9menl1eHlCSzFZOGE1Y3hXZW82bnNJcms4RDZnUFZmMjFkZDF6OVhlcHV3WkVvcjlfNkZRV3RBaVN3bnA3LXRPeHlGbEJVSFpaNjZkMERQZGNCNDZsVXlqS04xZzNtTXBEdFNYblUxVDM2cFJtOGM3OVJsSU5mbWE1WFFiQnNuejdDdXc3MDF1OTJvV091enhmcXljZ2gzcGh6blVJRUt6dzhrS0Y4N25CZzkxclFBMG9uV1Bzc1FMYlJRejNKbFFjN3N0SXFSSGFqSnlNbE9FeURmUEhXeUhQa2hFX0Z0UWV6aTFYNDdqak55OFJOaFhQMnh1U09DZzhHaUNnR2NvdU5PLXNPV1cyTU8yU3dHSVJUTS0xbkhfQmVYYTh1VmZfWVRkUGlPRlFiWDlJZm1HdHNHT2VDVjJNc3N1dHNWM0tsMHN1RnAwWjBuTnhJbnowdG52cUNfNlhiUG5GX01Md1RING9LVUdVVUdNLS1HcDNNNDg2RFFpTVQzNm9TaHZYZnQ4cGhTWGZ5MW5KSGQzX1NZbEtndTJUckhJTFY4SlZ4SU1NOU1xaHltbFRlcl9jaWFTUjBhT0o0VTIzTjVCaVRocjdWaDBuV2Q0SmpMV1lsbFpNUHIxeDg3M0E',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=103&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_7c266a34&cb=1631536263089&jobListingId=1007299185666&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-8b99d75473d8a68d',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=104&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_7552e338&cb=1631536263091&jobListingId=1007285294048&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-13027c95012596b8',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=105&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_c87c6c26&cb=1631536263090&jobListingId=1007286569105&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-edf1eed8df92ac75',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=106&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_8edd09ab&cb=1631536263092&jobListingId=1007284108357&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-0a7c4ab10b5b0987',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=107&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_837dc719&cb=1631536263094&jobListingId=1007288853258&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-15ebbff46011eba4',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=108&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_50ab64d1&cb=1631536263095&jobListingId=1007279883255&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-9c29da7a9f118b6b',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=109&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_5feff679&cb=1631536263094&jobListingId=1007248250199&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-86be4fb99f638f8b',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=110&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_661aa19b&cb=1631536263095&jobListingId=1007296242943&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-ffacc24eba7bd52e',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=111&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_7cb63b2b&cb=1631536263096&jobListingId=1007258812550&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-223dcefd7d2a9c1c',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=112&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_edc2bdf4&cb=1631536263096&jobListingId=1007296526038&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-c761f4aabf8a66ec',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=113&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_ed814df8&cb=1631536263097&jobListingId=1007258785216&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-c33fbbcb496aaf48',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=114&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_30ba15d0&cb=1631536263096&jobListingId=1007263481581&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-a562bedb832641de',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=115&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_9da45cf2&cb=1631536263097&jobListingId=1007250538663&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-2f1efdb319519714',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=116&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_38b545ef&cb=1631536263097&jobListingId=1007272692281&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-a01370f6156b7849',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=117&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_4d1e21d8&cb=1631536263098&jobListingId=1007274462392&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-929c43580cb4c7f3',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=118&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_d39572e0&cb=1631536263098&jobListingId=1007254949501&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-72c4d6e0e926854c',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=119&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_384bd2b9&cb=1631536263098&jobListingId=1007288925159&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-e6cc05cbdde64ede',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=120&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_68e10c16&cb=1631536263098&jobListingId=1007200389479&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-97d4c65035600d81',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=121&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_af678ffd&cb=1631536263099&jobListingId=1007254040438&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-33fccf4677aa6cb5',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=122&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_0d3c6cc9&cb=1631536263100&jobListingId=1007279924569&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-7219646f08620851',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=123&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_b104172d&cb=1631536263099&jobListingId=1007245257958&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-d0893868ee842eed',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=124&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_c712f16a&cb=1631536263100&jobListingId=1007279789126&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-696539a2bd423b28',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=125&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_abbac277&cb=1631536263100&jobListingId=1007242689151&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-1312cf23d6d9b860',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=126&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_8857b0d5&cb=1631536263101&jobListingId=1007298453584&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-95aff61a48f60698',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=127&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_8b877ebe&cb=1631536263100&jobListingId=1007296960058&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-ddee57d382af9316',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=128&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&cs=1_7f0b454e&cb=1631536263101&jobListingId=1007280588094&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-1902ff648f811b79',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=129&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_ef139156&cb=1631536263102&jobListingId=1007270566717&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-375f48bcd75d1fee',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=130&ao=1136043&s=58&guid=0000017bdf23ad978b2f6ec0259c6a22&src=GD_JOB_AD&t=SR&vt=w&uido=A5B0040077AD94B6FAE11ADE699BD563&ea=1&cs=1_cb53680f&cb=1631536263102&jobListingId=1007235877169&jrtk=2-0-1fffi7bkju4ok801-1fffi7bl9u3et800-9161e7bf83416e9b']

In [36]:
Rating = []

for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        rating = driver.find_element_by_xpath('//span[@class = "css-1pmc6te e11nt52q4"]')
        Rating.append(rating.text.replace('\n',''))
    except:
        
        Rating.append('--')
        
    
        
Rating

['3.9★',
 '4.4★',
 '4.0★',
 '3.6★',
 '3.4★',
 '--',
 '--',
 '4.8★',
 '3.8★',
 '3.9★',
 '--',
 '3.9★',
 '3.9★',
 '3.6★',
 '4.1★',
 '3.6★',
 '4.2★',
 '3.9★',
 '3.6★',
 '--',
 '--',
 '3.8★',
 '--',
 '4.0★',
 '5.0★',
 '--',
 '3.8★',
 '4.1★',
 '--',
 '--']

In [37]:
len(Rating)

30

In [38]:
Jobs_Noida = pd.DataFrame({})

Jobs_Noida['Company'] =Company[:10]
Jobs_Noida['Post_day'] = Post_date[:10]
Jobs_Noida['Rating'] =Rating[:10]

Jobs_Noida

                              Company Post_day Rating
0              Applied Materials Inc.     30d+   3.9★
1                              Indeed     30d+   4.4★
2  Patient Bond India Private Limited      24h   4.0★
3                            Lenskart       6d   3.6★
4                  Elpis IT Solutions       6d   3.4★
5                              Argoid       7d     --
6                          Top Mentor       5d     --
7                       Reach52, Inc.      10d   4.8★
8                        Airtel India      24d   3.8★
9                                 IBM       2d   3.9★

# Ques.-5

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.

In [39]:
driver = webdriver.Chrome('chromedriver.exe')

url = 'https://www.glassdoor.co.in/Salaries/index.htm'

In [40]:
driver.get(url)

In [41]:
search_job = driver.find_element_by_id('KeywordSearch')
search_loc = driver.find_element_by_id('LocationSearch')

In [42]:
search_job.send_keys('Data Scientist')
search_loc.send_keys('Noida')

In [47]:
search_btn = driver.find_element_by_xpath('//button[@class = "gd-btn-mkt"]')
search_btn.click()

In [49]:
Company =[]
 
name = driver.find_elements_by_xpath('//a[@class ="css-f3vw95 e1aj7ssy3"]')
for i in name:
    Company.append(i.text)
Company

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'Fresher',
 'CARS24.com',
 'Vidooly Media Tech']

In [50]:
len(Company)

20

In [51]:
Rating =[]

rating = driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
for i in rating:
    Rating.append(i.text)
    
Rating

['3.9',
 '3.9',
 '4.1',
 '3.7',
 '4',
 '3.7',
 '3.7',
 '3.9',
 '4.2',
 '3.6',
 '3.8',
 '4',
 '4',
 '3.8',
 '3.3',
 '4',
 '3.8',
 '4.1',
 '4.1',
 '3.8']

In [52]:
len(Rating)

20

In [53]:
Min_salary=[]
Max_salary=[]

min_salary = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[1]')
for i in min_salary:
    Min_salary.append(i.text)
    
max_salary = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[2]')
for i in max_salary:
    Max_salary.append(i.text)

In [54]:
Min_salary

['₹4L',
 '₹1L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹8L',
 '₹10L',
 '₹5L',
 '₹6L',
 '₹4L',
 '₹2L',
 '₹4L',
 '₹6L',
 '₹10L',
 '₹8L',
 '₹10L',
 '₹25T',
 '₹9L',
 '₹12T']

In [55]:
len(Min_salary)

20

In [56]:
Max_salary

['₹13L',
 '₹28L',
 '₹23L',
 '₹1Cr',
 '₹17L',
 '₹16L',
 '₹20L',
 '₹18L',
 '₹15L',
 '₹16L',
 '₹13L',
 '₹19L',
 '₹21L',
 '₹17L',
 '₹21L',
 '₹21L',
 '₹30L',
 '₹1L',
 '₹15L',
 '₹64T']

In [57]:
len(Max_salary)

20

In [58]:
Avg_salary =[]

avg_salary = driver.find_elements_by_xpath('//div[@class ="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')
for i in avg_salary:
    Avg_salary.append(i.text)
    
Avg_salary

['₹6,28,021',
 '₹9,08,246',
 '₹11,93,390',
 '₹12,49,716',
 '₹7,58,335',
 '₹12,80,000',
 '₹12,70,000',
 '₹14,55,430',
 '₹8,86,064',
 '₹11,10,000',
 '₹9,62,227',
 '₹11,71,868',
 '₹11,01,815',
 '₹12,40,275',
 '₹14,51,902',
 '₹11,30,374',
 '₹20,63,782',
 '₹61,566',
 '₹10,80,727',
 '₹35,040']

In [59]:
len(Avg_salary)

20

In [60]:
Data_Scientist_salary = pd.DataFrame({})

Data_Scientist_salary["Company"] = Company[:10]
Data_Scientist_salary['Avg_Salary']=Avg_salary[:10]
Data_Scientist_salary['Min_salary']=Min_salary[:10]
Data_Scientist_salary['Max_salary']=Max_salary[:10]
Data_Scientist_salary['Rating'] = Rating[:10]

Data_Scientist_salary

                     Company  Avg_Salary Min_salary Max_salary Rating
0  Tata Consultancy Services   ₹6,28,021        ₹4L       ₹13L    3.9
1                        IBM   ₹9,08,246        ₹1L       ₹28L    3.9
2                  Accenture  ₹11,93,390        ₹6L       ₹23L    4.1
3                  Delhivery  ₹12,49,716        ₹5L       ₹1Cr    3.7
4         Ericsson-Worldwide   ₹7,58,335        ₹4L       ₹17L      4
5         UnitedHealth Group  ₹12,80,000        ₹8L       ₹16L    3.7
6                      Optum  ₹12,70,000        ₹8L       ₹20L    3.7
7     Optum Global Solutions  ₹14,55,430       ₹10L       ₹18L    3.9
8         Valiance Solutions   ₹8,86,064        ₹5L       ₹15L    4.2
9                EXL Service  ₹11,10,000        ₹6L       ₹16L    3.6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [72]:
driver = webdriver.Chrome('chromedriver.exe')

In [73]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [74]:
product_search = driver.find_element_by_xpath('//input[@class = "_3704LK"]')

In [75]:
click_btn = driver.find_element_by_xpath('//button[@class = "L0Z3Pu"]')

In [76]:
product_search.send_keys('sunglasses')
click_btn.click()

In [77]:
nxt_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')

In [83]:
page1=driver.find_elements_by_xpath('//a[@class="ge-49M _2Kfbh8"]')

URl= driver.find_elements_by_xpath('//a[@class="ge-49M"]')

In [105]:
urls=[]
for i in page1:
    urls.append(i.get_attribute('href'))
urls

for i in URl[0:2]:
    urls.append(i.get_attribute('href'))

In [121]:
Brand_name=[]
Price=[]
Discount=[]

for i in urls:
    try:
        Brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for i in Brand:
            Brand_name.append(i.text)
    except:
        Brand_name.append('--')
    
    
            
    try:
        price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for i in price:
            Price.append(i.text)
    
    except:
        Price.append('--')
   
    try:
        
        discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for i in discount:
            Discount.append(i.text)
    except:
        Discount.append('--')

In [122]:
len(Brand_name)

120

In [123]:
len(Price)

120

In [124]:
len(Discount)

120

In [125]:
Product_Description = []

for i in url:
    
    try:
        Product_Desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
        for i in Product_Desc:
            Product_Description.append(i.text)
        
    except:
        Product_Description.append('--')

In [126]:
SunGlass=pd.DataFrame({})
SunGlass['Brand_name']=Brand_name[0:100]
SunGlass['Product_Description']=Product_Description[0:100]
SunGlass['Price']= Price[0:100]
SunGlass['Discount']=Discount[0:100]
SunGlass

,Brand_name,Product_Description,Price,Discount
0,I Flash,"UV Protection, Polarized, Mirrored Rectangular...",₹137,86% off
1,I Flash,UV Protection Round Sunglasses (54),₹132,86% off
2,SHAAH COLLECTIONS,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹198,88% off
3,Elligator,"UV Protection, Gradient Rectangular Sunglasses...",₹295,88% off
4,kingsunglasses,UV Protection Aviator Sunglasses (54),₹284,89% off
...,...,...,...,...
95,I Flash,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹198,83% off
96,PIRASO,"UV Protection, Gradient Rectangular Sunglasses...",₹237,85% off
97,Fastrack,UV Protection Aviator Sunglasses (54),₹520,34% off
98,SUNBEE,UV Protection Round Sunglasses (54),₹265,73% off
99,ARICKS,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹332,83% off

# Question-7

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [178]:
driver = webdriver.Chrome('chromedriver.exe')
url= "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [180]:
all_reviews = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span')
all_reviews.click()

In [186]:
page1=driver.find_elements_by_xpath('//a[@class="ge-49M _2Kfbh8"]')

URl= driver.find_elements_by_xpath('//a[@class="ge-49M"]')

In [187]:
urls=[]
for i in page1:
    urls.append(i.get_attribute('href'))
urls

for i in URl:
    urls.append(i.get_attribute('href'))

In [188]:
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [189]:
Rating=[]
Review_summary=[]
Full_review=[]

for i in urls:
    
    Ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    
    for i in Ratings:
        Rating.append(i.text)
        
    review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    
    for i in review_summary:
        Review_summary.append(i.text)
        
    full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    
    for i in full_review:
        Full_review.append(i.text)

In [190]:
Phone_rating=pd.DataFrame({})
Phone_rating['Rating']=Rating
Phone_rating['Review_summary']=Review_summary
Phone_rating['Full_review']= Full_review
Phone_rating

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Question-8

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :

1.Brand

2.Product Description

3.Price

4.discount %

In [206]:
Driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com/" 
Driver.get(url)

In [208]:
search_product= Driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys("sneakers")

search_btn=Driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [209]:
page1=Driver.find_elements_by_xpath('//a[@class="ge-49M _2Kfbh8"]')

URl= Driver.find_elements_by_xpath('//a[@class="ge-49M"]')

In [210]:
urls=[]
for i in page1:
    urls.append(i.get_attribute('href'))
urls

for i in URl[0:2]:
    urls.append(i.get_attribute('href'))

In [213]:
Brand_name=[]
Product_Description=[]
Price=[]
Discount=[]

for i in urls:
    
    
    Brand=Driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in Brand:
        Brand_name.append(i.text)      
    
        
    Product_Desc=Driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in Product_Desc:
        Product_Description.append(i.text)
    
    price=Driver.find_elements_by_xpath('//div[@class="_30jeq3"]')   
    for i in price:
        Price.append(i.text)
            
    
    discount=Driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount:
        Discount.append(i.text)

In [199]:
Shoes=pd.DataFrame({})
Shoes['Brand_name']=Brand_name[0:100]
Shoes['Product_Description']=Product_Description[0:100]
Shoes['Price']= Price[0:100]
Shoes['Discount']=Discount[0:100]
Shoes

,Brand_name,Product_Description,Price,Discount
0,Magnolia,Sneakers For Men,₹356,64% off
1,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
2,Longwalk,Men Boxer Sneakers For Men,₹236,52% off
3,DUCATI,Sneakers For Men,"₹1,499",59% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
...,...,...,...,...
95,India hub,Luxury Fashionable Breathable Casual Sneakers ...,₹399,80% off
96,Shoes Bank,Raptor Sneakers For Men,₹349,65% off
97,Numenzo,"Casual shoes,Sneakers for men's,shoes for men'...",₹449,65% off
98,World Wear Footwear,Sneakers For Men,₹240,51% off
99,ALICON,Fashion Outdoor Canvas Casual Light Weight Lac...,₹472,68% off

# Question-9

Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image . And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image. Please

In [200]:
driver= webdriver.Chrome("chromedriver.exe")
url="https://www.myntra.com/shoes" 
driver.get(url)

In [201]:
Price_range=driver.find_element_by_xpath('//input[@class="price-input" and @value="6897.0 TO 13595.0"]')
Price_range

I manually filter the price as it was  not working

In [202]:
color_range=driver.find_element_by_xpath('//span[@data-colorhex="black"]')
color_range.click()

In [203]:
Next_btn= driver.find_element_by_xpath('//li[@class="pagination-next"]')

In [204]:
Brand=[]
Short_summary=[]
Price=[]

for i in range(1,3):
    brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in brand:
        Brand.append(i.text)
        
    short_summary=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    
    for i in short_summary:
        Short_summary.append(i.text)
        
    price=driver.find_elements_by_xpath('//div[@class="product-price"]')
    
    for i in price:
        Price.append(i.text)
    
Next_btn.click()

In [205]:
Shoes_Data= pd.DataFrame({})
Shoes_Data['Brand']=Brand
Shoes_Data['Short_summary']= Short_summary
Shoes_Data['Price']=Price
Shoes_Data

,Brand,Short_summary,Price
0,Puma,Men BlackTraining or Gym Shoes,Rs. 6999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
3,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
4,Geox,Men Printed Slip-On Sneakers,Rs. 10999
...,...,...,...
95,Puma,Unisex Colourblocked Sneakers,Rs. 6999
96,PUMA Motorsport,Mercedes F1 Drift Cat Shoes,Rs. 7999
97,Saint G,Leather Block Sandals,Rs. 10355Rs. 10900(5% OFF)
98,ASICS,Women GlideRide Running Shoes,Rs. 11199Rs. 13999(20% OFF)
99,J.FONTINI,Men Solid Leather Formal Derbys,Rs. 6990

# Question-10

In [161]:
driver = webdriver.Chrome('chromedriver.exe')

In [162]:
url = 'https://www.amazon.in/'
driver.get(url)

In [163]:
search_product = driver.find_element_by_id('twotabsearchtextbox')
search_btn = driver.find_element_by_id('nav-search-submit-button')

In [164]:
search_product.send_keys('Laptop')
search_btn.click()

In [165]:
# lets use the filter for “Intel Core i7” and “Intel Core i9”

core_i7 = driver.find_element_by_xpath('//li[@id = "p_n_feature_thirteen_browse-bin/12598163031"]/span')

In [166]:
core_i7.click()

In [167]:
core_i9 = driver.find_element_by_xpath('//li[@id = "p_n_feature_thirteen_browse-bin/16757432031"]/span')
core_i9

In [168]:
core_i9.click()

Now scrap the data from portal

In [169]:
title = driver.find_elements_by_xpath('//span[@class = "a-size-medium a-color-base a-text-normal"]')

In [170]:
Title = []

for i in title:
    Title.append(i.text)
Title

['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993',
 'HP Pavilion Gaming 11th Gen Intel Core i7 15.6-inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/GTX 1650 4GB Graphics/Win 10/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx',
 'ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD 240Hz/3ms, Intel Core i7-11370H, GeForce RTX 3060 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10 Home/Gray/2 Kg) FX516PM-AZ153TS',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Eclipse Gray/2.6 Kg) FX766HE-HX022T',
 'Acer Swift 5 14" (35.56cms) Full HD IPS Display with Touchscreen Ultra Thin and Light Notebook (Intel i7 - 11th Gen/16GB RAM/1TB SSD/Win10/Intel Iris Xe Graphics/1.05 Kg/Mist Green), SF514-55TA',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg), 82BH00E0IN',
 'Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7-11370H 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Windows 10/NVIDIA RTX 3050 4GB/120Hz Refresh Display/Shadow Black/2.25Kg), 82K1004EIN',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'Lenovo Yoga Slim 7 11th gen Intel Core i7 14" FHD IPS Touchscreen Fabric Surface Thin & Light Laptop (16GB/1TB SSD/Win10/Office/Intel Iris Graphics/Fingerprint Reader/Slate Grey/1.33Kg), 82A300BEIN',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (8GB RAM/1TB SSD/Windows 10/Black/2.3 kg), FX506HC-HN095T',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'Lenovo Legion Y540 9th Gen Intel Core i7-9750HF 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/1TB + 256GB SSD/Windows 10/NVIDIA GTX 1650 4GB/60Hz Refresh Display/Raven Black/2.3Kg), 81SY00U7IN',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Acer Nitro 5 Intel Core i7-11th Gen 15.6-inch (39.62 cms) 144 Hz Refresh Rate Gaming Laptop (8GB RAM/RTX 3050 Graphics/1TB HDD + 256GB SSD/Windows 10 HS/Black/2.4 Kgs), AN515-57',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX']

In [171]:
len(Title)

26

In [172]:
title_url = driver.find_elements_by_xpath('//a[@class = "a-link-normal a-text-normal"]')

In [173]:
url = []

for i in title_url:
    url.append(i.get_attribute('href'))
url

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A10081262K6KZOZ37JXYV&url=%2FHP-Processor-13-3-inch-Touchscreen-13-ba1018TX%2Fdp%2FB091FJ13Q5%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1631552684%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1631552684&id=1843246966218228&widgetName=sp_atf',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089DFJHZ8/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/Lenovo-IdeaPad-Windows-Graphics-82H1002CIN/dp/B094XJPQ6N/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Asus-G703GI-E5148T-17-3-inch-i9-8950HK-Processor/dp/B07GRCW51K/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN062T/dp/B096KZ11KK/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN063T/dp/B096KVJ5PC/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/Fujitsu-33-78cm-Convertible-Graphics-4ZR1D71993/dp/B098P4M233/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/HP-Pavilion-15-6-inch-Graphics-15-dk2075tx/dp/B09BDBCRNZ/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/ASUS-i7-11370H-GeForce-Graphics-FX516PM-AZ153TS/dp/B08CKRKTSY/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/HP-Pavilion-13-3-inch-Ceramic-13-bb0078TU/dp/B09839P9XB/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Fujitsu-33-78cm-Graphics-Fingerprint-4ZR1D67596/dp/B098P34QRL/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/ASUS-17-3-inch-i7-11800H-GeForce-RTX-3050-Ti-FX766HE-HX022T/dp/B0987S6PG1/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A00766773MSMG2AO2CGIQ&url=%2FAcer-Swift-Display-Touchscreen-Notebook%2Fdp%2FB08M41DHTV%2Fref%3Dsr_1_14_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1631552684%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-14-spons%26psc%3D1&qualifier=1631552684&id=1843246966218228&widgetName=sp_mtf',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_15?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/Lenovo-Touchscreen-Windows-Aluminium-82BH00E0IN/dp/B0999929LG/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Lenovo-IdeaPad-i7-11370H-39-63cm-82K1004EIN/dp/B09BJ7GD7B/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Lenovo-IdeaPad-250Nits-Graphics-81Y4019EIN/dp/B097TZMG7R/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/Lenovo-Touchscreen-Graphics-Fingerprint-82A300BEIN/dp/B094XHDWWF/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Lenovo-Legion-Windows-Graphics-81YU006HIN/dp/B08GG9RZJC/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/ASUS-15-6-inch-i7-11800H-RTX-3050-FX506HC-HN095T/dp/B096KX5YXL/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/ASUS-15-6-inch-i7-11800H-GeForce-RTX-3050-FX566HC-HN093T/dp/B0987SKPZ3/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Lenovo-i7-9750HF-39-63cm-Windows-81SY00U7IN/dp/B092MRQCJ6/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Acer-i7-11th-15-6-inch-Graphics-AN515-57/dp/B09B2DH1PD/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1631552684&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26']

In [174]:
import time

Rating = []

for i in url[:10]:
    driver.get(i)
    time.sleep(5)
    try:
        rating = driver.find_element_by_xpath('//span[@class = "a-size-base a-nowrap"]')
        Rating.append(rating.text)
    except:
        Rating.append('--')
        
Rating

['4.1 out of 5',
 '4.2 out of 5',
 '4.3 out of 5',
 '3.7 out of 5',
 '--',
 '3 out of 5',
 '4.1 out of 5',
 '3.7 out of 5',
 '3.7 out of 5',
 '5 out of 5']

In [175]:
Price = []

price = driver.find_elements_by_xpath('//span[@class = "a-price-whole"]')
for i in price:
    Price.append(i.text)
    
Price

['1,23,350',
 '57,990',
 '77,990',
 '5,56,524',
 '85,990',
 '84,990',
 '1,07,990',
 '89,990',
 '1,09,990',
 '92,990',
 '92,990',
 '98,500',
 '1,13,990',
 '94,999',
 '74,990',
 '97,989',
 '84,990',
 '73,990',
 '97,889',
 '1,99,990',
 '1,09,990',
 '96,990',
 '72,990',
 '81,290',
 '89,999',
 '98,200']

In [176]:
len(Price)

26

In [177]:
Laptops = pd.DataFrame({})

Laptops["Title"] = Title[:10]
Laptops['Price'] = Price[:10]
Laptops['Rating'] = Rating

Laptops

                                               Title     Price        Rating
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,23,350  4.1 out of 5
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...    57,990  4.2 out of 5
2  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....    77,990  4.3 out of 5
3  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  5,56,524  3.7 out of 5
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    85,990            --
5  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    84,990    3 out of 5
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  1,07,990  4.1 out of 5
7  HP Pavilion Gaming 11th Gen Intel Core i7 15.6...    89,990  3.7 out of 5
8  ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD ...  1,09,990  3.7 out of 5
9  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...    92,990    5 out of 5